@font-face {
    font-family: 'SK Modernist';
    src: url(../../../assets/fonts/sk-modernist-regular-webfont.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'SK Modernist';
    src: url(../../../assets/fonts/sk-modernist-bold-webfont.ttf);
    font-weight: bold;
}

body, html {
  background-color: #f0f0f0;
}

p, h1, h2, h3, h4, h5, h6, li {
  color: #111;
  font-family: 'SK Modernist';
}

h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  font-size: 55px;
  max-width: 1080px;
  margin: 60px auto;
}

p {
  margin: auto;
  width: 100%;
  max-width: 700px;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 28px;
}

.definition {
  padding: 0 40px;
  max-width: 700px;
  margin: auto;
  box-sizing: border-box;
}

.pronunciation {
  font-family: 'Helvetica Neue';
  color: #999;
}

.definition p:first-child {
  margin-bottom: 0;
}

#viz {
  width: 100%;
  max-width: 900px;
  position: relative;
  height: 600px;
  margin: 40px auto;
}

#map-svg {
  width: 100%;
  height: 600px;
}

#graphic {
  margin: 20px;
  max-width: 1080px;
}

#sections {
  position: relative;
  display: inline-block;
  width: 320px;
  top: 0px;
  z-index: 90;
}

.step {
  margin-bottom: 200px;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 0px;
  left: 350px;
  right: 20px;
  z-index: 1;
  margin-left: 0;
  max-width:
  height: 100%;
  background-color: #ddd;
}
