<div class="about">
    <div class='profile-img'>
        <img src='/assets/img/charlie2.png'/>
    </div>
    <h3>About me</h3>
    <p>
        Hello! My name is Charlie Smart. I'm a journalism geek with an interest in numbers and multimedia.
        I like telling stories, analysing data, and making websites (like this one).
        I'm also interested in radio, podcasts, video, and photography.

    </p>
    <p>
        I work as news director at WHUS Radio at the University of Connecticut, where I'm currently
        an undergraduate student studying journalism, statistics, and design. I also produce a bi-weekly podcast,
        which you can check out below.
        Last summer I interned at WNPR public radio in Hartford, and this summer I'll be interning at TrendCT.
    </p>

</div>
