<div class="contact">
    <h3>Get in touch</h3>

    <p>I'm on all kinds of social media. You can see what I'm up to here.</p>

    <div class="social-button-wrapper">
        <div class="social-button">
            <a href="https://www.twitter.com/charliersmart" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
        <div class="social-button">
            <a href="https://www.github.com/charliesmart" target="_blank">
                <i class="fa fa-github-alt"></i>
            </a>
        </div>
        <div class="social-button">
            <a href="https://www.linkedin.com/in/charliesmart" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
        <div class="social-button">
            <a href="https://www.flickr.com/photos/138790175@N05/" target="_blank">
                <i class="fa fa-flickr"></i>
            </a>
        </div>
        <div class="social-button">
            <a href="https://www.youtube.com/channel/UCrbWfl2i5CV1KvNuzZZva8A" target="_blank">
                <i class="fa fa-youtube"></i>
            </a>
        </div>
    </div>

    <p>Or, do it the old fashioned way.</p>
    <p><a href="mailto:charlie.r.smart@gmail.com">charlie.r.smart@gmail.com</a> &nbsp; &bull; &nbsp; (203) 788-9698</p>
</div>
