<div class="header">
    <div class="header-card">
        <p>My name is Charlie Smart.</p>
        <p>I'm a freelance journalist and information designer.</p>
        <p>See my <a href="" id="work-link">work</a> or learn <a href="">about me</a>.</p>
        <p>If you want to hire me, <a href="mailto:charlie.r.smart+work@gmail.com">get in touch</a>.</p>
        <p>
            <a href="https://twitter.com/charliersmart" target="_blank" class="social-link"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
            <a href="https://github.com/charliesmart" target="_blank" class="social-link"><i class="fa fa-github fa-fw" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/charliesmart" target="_blank" class="social-link"><i class="fa fa-linkedin fa-fw" aria-hidden="true"></i></a>
        </p>

    </div>
</div>
