<div class="skills">

    <h3>Things I can do</h3>
    <p>These bars don't tell you a whole lot, so hover for more information.

    <section>
        <div class=skills-left>
            <div class="skill-outer left-bar">
                <div class="skill-inner" value="70">
                    <p></p>
                </div>
            </div>
            <div class="skill-outer left-bar">
                <div class="skill-inner" value="60">
                    <p></p>
                </div>
            </div>
            <div class="skill-outer left-bar">
                <div class="skill-inner" value="19">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="skills-right">
            <div class="skill-outer right-bar">
                <div class="skill-inner" value="85">
                    <p></p>
                </div>
            </div>
            <div class="skill-outer right-bar">
                <div class="skill-inner" value="34">
                    <p></p>
                </div>
            </div>
            <div class="skill-outer right-bar">
                <div class="skill-inner" value="100">
                    <p></p>
                </div>
            </div>
        </div>
    </section>
</div>
