<div class="skills">

    <h3>Things I can do</h3>
    <p>These bars don't tell you a whole lot, so hover for more information.

    <section>

        <div class=skills-left>

            <div class="skill-outer left-bar">
                <p class="skill-name">R</p>
                <div class="skill-inner" value="55">
                    <p>55%</p>
                </div>
            </div>

            <div class="skill-outer left-bar">
                <p class="skill-name">HTML</p>
                <div class="skill-inner" value="90">
                    <p>90%</p>
                </div>
            </div>

            <div class="skill-outer left-bar">
                <p class="skill-name">CSS</p>
                <div class="skill-inner" value="80">
                    <p>80%</p>
                </div>
            </div>

            <div class="skill-outer left-bar">
                <p class="skill-name">JS</p>
                <div class="skill-inner" value="75">
                    <p>75%</p>
                </div>
            </div>

        </div>

        <div class="skills-right">

            <div class="skill-outer right-bar">
                <p class="skill-name">Audition</p>
                <div class="skill-inner" value="90">
                    <p>90%</p>
                </div>
            </div>

            <div class="skill-outer right-bar">
                <p class="skill-name">Illustrator</p>
                <div class="skill-inner" value="50">
                    <p>50%</p>
                </div>
            </div>

            <div class="skill-outer right-bar">
                <p class="skill-name">Premiere</p>
                <div class="skill-inner" value="60">
                    <p>60%</p>
                </div>
            </div>

            <div class="skill-outer right-bar">
                <p class="skill-name">Photoshop</p>
                <div class="skill-inner" value="85">
                    <p>85%</p>
                </div>
            </div>

        </div>
    </section>
</div>
