<div class="skills">

    <h3>Things I can do</h3>
    <p>These bars don't tell you a whole lot, so hover for more information.

    <section>
        <div class=skills-left>

            <div class="skill-outer left-bar" info="No problem with simple data mining and cleaning, basic statistical analysis, and creating graphics, but still learning more advanced concepts and function building.">
                <p class="skill-name">R</p>
                <div class="skill-inner" value="55">
                    <p>55%</p>
                </div>
            </div>

            <div class="skill-outer left-bar" info="Comfortable with most HTML5 concepts including <canvas> and <video>.">
                <p class="skill-name">HTML</p>
                <div class="skill-inner" value="90">
                    <p>90%</p>
                </div>
            </div>

            <div class="skill-outer left-bar" info="No problems with CSS3. Still solidifying my knowledge of advanced selectors, and getting more comfortable with Sass.">
                <p class="skill-name">CSS</p>
                <div class="skill-inner" value="80">
                    <p>80%</p>
                </div>
            </div>

            <div class="skill-outer left-bar" info="Solid with JQuery, D3.js, and leaflet.js. Working on improving my vanilla js (I know, it's bad).">
                <p class="skill-name">JS</p>
                <div class="skill-inner" value="75">
                    <p>75%</p>
                </div>
            </div>

        </div>

        <div class="skills-right">

            <div class="skill-outer right-bar" info="Adobe Audition wizard. I can mix a podcast, EQ a voice, you name it. Still, there are a lot of effects to learn.">
                <p class="skill-name">Audition</p>
                <div class="skill-inner" value="90">
                    <p>90%</p>
                </div>
            </div>

            <div class="skill-outer right-bar" info="Working on improving my Illustrator skills. I can and have created vector graphics in it, but I'm still learning.">
                <p class="skill-name">Illustrator</p>
                <div class="skill-inner" value="50">
                    <p>50%</p>
                </div>
            </div>

            <div class="skill-outer right-bar" info="I can edit a video and perform basic color correction and create simple motion graphics. Can also use Final Cut.">
                <p class="skill-name">Premiere</p>
                <div class="skill-inner" value="60">
                    <p>60%</p>
                </div>
            </div>

            <div class="skill-outer right-bar" info="I can create a website mockup or edit together multiple exposures of a photo. There isn't much I can't do or can't learn quickly.">
                <p class="skill-name">Photoshop</p>
                <div class="skill-inner" value="85">
                    <p>85%</p>
                </div>
            </div>

        </div>
    </section>

    <div class='tooltip'>
        <p></p>
    </div>
</div>
