=transition($type, $time)
    -webkit-transition: $type $time ease
    -moz-transition: $type $time ease
    -o-transition: $type $time ease
    transition: $type $time ease

=box-shadow($horlen, $verlen, $blurrad, $sprrad, $col)
    -webkit-box-shadow: $horlen $verlen $blurrad $sprrad $col
    -moz-box-shadow: $horlen $verlen $blurrad $sprrad $col
    box-shadow: $horlen $verlen $blurrad $sprrad $col

=subheader-text
    font-family: $sans-font
    text-transform: uppercase
    text-align: center
    letter-spacing: 2px

=homepage-p
    max-width: 600px
    margin: auto
    font-size: 16px
    font-family: $sans-font
    margin-top: 20px
    text-align: center
