#chart {
  max-width: 768px;
  margin: auto;
  margin-top: 50px;
}

.toggle-buttons {
  float: left;
  position: relative;
}

.button {
  float: left;
  border: 1px solid #ddd;
  border-right: none;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.button:last-child {
  border-right: 1px solid #ddd;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button.active {
  font-weight: bold;
  background-color: #ddd;
  border-top: none;
}

.hed {
  font-size: 30px;
margin-bottom: 5px;
font-family: 'Georgia';
font-weight: bold;
margin-left: 55px;
}

.dek {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  margin-left: 55px;
  max-width: 500px;
  margin-bottom: 45px;
  margin-top: 10px;
}

#search-wrap {
  position: relative;
  float: left;
  margin-right: 20px;
  margin-left: 55px;
  margin-bottom: 20px;
}

#town-search, .tt-hint {
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 5px;
  outline: none;
  width: 300px;
}

.tt-hint {
  color: #ddd;
}

.tt-menu {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  background-color: white;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  border: 1px solid #ddd;
}

.tt-suggestion {
  padding: 5px 5px;
  font-size: 14px;
  cursor: pointer;
}

.tt-suggestion:hover {
  background-color: #ddd;
}

.tt-cursor {
  background-color: #eeeeee;
}

.tick text {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
  fill: #bbb;
}

.tick line {
  stroke: #ddd;
}

.axis-label {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.toggle-label {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: -25px;
  margin: 0;
}

.state-line {
  stroke-dasharray: 5, 5;
  stroke: black;
}

::-webkit-input-placeholder {
   text-transform: initial;
   color: #bbb;
}

:-moz-placeholder { 
   text-transform: initial;
   color: #bbb;
}

::-moz-placeholder {  
   text-transform: initial;
   color: #bbb;
}

:-ms-input-placeholder { 
   text-transform: initial;
   color: #bbb;
}

#tooltip {
  position: absolute;
  display: none;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  width: 200px;
  z-index: 999;
  margin: 0;
  margin-top: 0px;
  pointer-events: none;
  transform: translate(25%, -105%);
}

#tooltip p {
  margin: 5px 0;
}

#tested-num, #found-num {
    font-weight: bold;
}

#tooltip h4 {
  text-align: center;
  margin: 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.footer {
  width: 100%;
  border-top: 1px solid #ddd;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  color: #bbb;
}

.source {
  float: left;
}

.credit {
  float: right;
}

.state-label {
  font-family: 'Helvetica';
  font-size: 12px;
  stroke: white;
  stroke-width: 6;
  paint-order: stroke;
}

@media screen and (max-width: 624px) {
  #town-search {
    width: 200px;
  }
}

@media screen and (max-width: 564px) {
  .hed {
    font-size: 20px;
  }
}

@media screen and (max-width: 564px) {
  #town-search {
    width: 70vw;
  }
  
  #search-wrap {
    margin-left: 0;
  }
  
  .hed, .dek {
    margin-left: 0;
  }
  
  .toggle-buttons {
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
