.contact
    width: 100%
    margin: auto
    overflow: hidden
    padding: 60px 0
    background-color: $background-color

    h3
        +subheader-text
        color: black

    p
        +homepage-p
        color: black
        margin: auto
