nav {
  text-align: right;
  
  p {
    display: block;
    font-size: 16px;
    color: black;
    margin: 0;
    cursor: pointer;
    transition: color 0.2s ease;
    
    &:hover {
      color: $brand-color;
    }
    
    &.selected {
      font-weight: bold;
    }
  }
}
