.skills
    width: 100%
    margin: auto
    min-height: calc(100vh - 60px)
    overflow: hidden
    padding: 40px 0 60px 0
    background-color: $background-color

    h3
        +subheader-text
        color: black
        text-align: center

    p
        color: black
        +homepage-p

    section
        width: 900px
        margin: auto
        margin-top: 30px

        .skills-left
            width: 50%
            float: left

        .skills-right
            width: 50%
            float: right

    .left-bar
        float: left
        margin-left: 80px

    .right-bar
        float: right
        margin-right: 80px

    .skill-outer
        width: 330px
        height: 40px
        border: 3px solid #f08080
        border-radius: 20px
        position: relative
        margin-bottom: 30px

        .skill-inner
            position: absolute
            max-width: 320px
            height: 30px
            background-color: #f08080
            border-radius: 15px
            border: none
            top: 2px
            left: 2px
            +transition(width, 0.8s)

            p
                color: white
                font-family: $sans-font
                position: absolute
                left: 10px
                top: 3px
                margin: 0
